.inline-block {
	display: inline-block;
}

.no-label + label {
    padding-left: 10px;
}

.no-text-transform {
    text-transform: none;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-input-margin-bottom {
	&, input.select-dropdown {
		@extend .no-margin-bottom;
	}
}

.valign-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.halign-center {
	margin: 0 auto;
}

.overflow-visible {
	overflow: visible !important;
}

.glow-effect {
	text-shadow: 0 0 1px #FFF, 0 0 1px #fff;
}

.clear {
	clear: both;
}

.blur-effect {
	filter: blur(15px);
	opacity: 0.95;
}

.transition-all {
	transition: all 1s;
}

.transition-all-short {
	transition: all 0.3s;
}
