//= require material-design-icons/css/material-design-icons
//= require Ionicons
//= require weather-icons
//= require_self

@import url("//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900");
@import "font-awesome/scss/font-awesome";
@import "con-material-admin-dashboard/con-deep-purple";
@import "./base";
@import "./helpers";
@import "./modules/*";
@import "./overrides";

@font-face {
  font-family: 'FontAwesome';
  src: font-url('font-awesome/fonts/fontawesome-webfont.eot?v=#{$fa-version}');
  src: font-url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    font-url('font-awesome/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    font-url('font-awesome/fonts/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    font-url('font-awesome/fonts/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    font-url('font-awesome/fonts/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// stylesheets for layout views
#sign-in {
	.links {
		height: 100%;
		line-height: 20px;
	}
}

// stylesheets for controller views
// @import "./sections/users/sessions/*";